<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <div class="ionic-angular-logos">
      <img class="logos" src="/assets/angular-logo.png" alt="" />
      <img class="logos" src="/assets/ionic-logo.png" alt="" />
    </div>
    <ion-card-header>
      <img class="logo" src="/assets/logo.svg" />
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>
  <div class="textContent">
    <p>
      Looking to create a cross-platform app with login functionality but not
      sure where to start?
    </p>
    <p>
      Let Us take the hard work out of it with our Ionic 4 Aws Cognito Start Kit
    </p>
  </div>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://binary.com.au/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Read More</ion-label>
    </ion-item>
    <ion-item href="https://binary.com.au/">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>How We Can Help</ion-label>
    </ion-item>
    <ion-item href="https://binary.com.au/">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Pricing</ion-label>
    </ion-item>
    <ion-item href="https://binary.com.au/">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
