<ion-header>
  <ion-toolbar align-title="center" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center mobileTitle">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="ionicStarterPasswordForm">
    <ion-item class="form-field">
      <ion-label> Current password</ion-label>
      <ion-input
        type="password"
        formControlName="current_password"
        placeholder="required"
      ></ion-input>
      <ion-button
        clear
        color="danger"
        (click)="showPasswordErrors(ionicStarterPasswordForm)"
        item-end
        *ngIf="fieldProfilePassword.touched && !fieldProfilePassword.valid"
      >
        <ion-icon name="alert" class="err-icon"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="form-field">
      <ion-label> New password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        placeholder="required"
      ></ion-input>
      <ion-button
        clear
        color="danger"
        (click)="showPasswordErrors(ionicStarterPasswordForm)"
        item-end
        *ngIf="fieldProfileConfirmPassword.touched && !fieldProfileConfirmPassword.valid"
      >
        <ion-icon name="alert" class="err-icon"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="form-field">
      <ion-label>Re-enter password</ion-label>
      <ion-input
        type="password"
        formControlName="confirmPassword"
        placeholder="required"
      ></ion-input>

      <ion-button
        clear
        color="danger"
        (click)="showConfirmPasswordErrors(ionicStarterPasswordForm)"
        item-end
        *ngIf="
                    fieldProfileConfirmPassword.touched &&
                    !fieldProfileConfirmPassword.valid
                  "
      >
        <ion-icon name="alert" class="err-icon"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item no-lines>
      <ion-button
        *ngIf="!(userProfileProgress$ | async)"
        color="primary"
        (click)="updateDetails()"
        full
        class="button-height"
        [disabled]="ionicStarterPasswordForm.invalid"
      >
        Update
      </ion-button>
    </ion-item>
  </form>
</ion-content>
