<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <h1 class="mainHeader">IT'S SIMPLE, IT'S BINARY</h1>
    <div>
      <p>
        We’ve been solving the unsolvable since 2008 and in that time we have
        perfected the art of making the complicated, simple. Our core focus is
        making sure you have the capabilities, systems and support you need to
        achieve your business growth. We do this through an integrated approach
        to marketing and humanising technology.
      </p>
    </div>
    <h2 class="subHeader">Our founding idea</h2>
    <div>
      <p>
        The founding idea of Binary is that different skills combined always
        generate a better outcome.
      </p>
      <p>
        This is why our team, not only has experienced creative, marketing and
        digital experts, but qualified engineers and mechatronics people on
        staff as well.
      </p>
    </div>
    <div>
      <p>
        This diversification has allowed us to grow as an Agency and to
        influence projects, not just in the digital world, but in the world
        beyond the screen.
      </p>
      <p>
        By employing people who have a diversity of skills, ideas and
        backgrounds, we find we can deliver better results for you.
      </p>
    </div>
  </div>
</ion-content>
