page-profile-reset-password {
  .reset-password {
    margin-top: 10px;
  }
  .err-icon {
    font-size: 18px;
  }
  .code-msg-padding {
    margin-top: 10px;
  }
}
ion-button {
  padding-top: 10px;
}

.mobileTitle {
  position: absolute;
}
