<ion-header>
  <ion-toolbar align-title="center" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center mobileTitle">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="ionicStarterForgotPasswordForm">
    <ion-list>
      <ion-item class="ion-no-padding">
        <ion-label>Enter Email</ion-label>
        <ion-input
          (keyup.enter)="sendCode()"
          type="email"
          formControlName="email"
          placeholder="required"
        ></ion-input>
        <ion-button
          fill="clear"
          color="danger"
          (click)="showEmailErrors(ionicStarterForgotPasswordForm)"
          *ngIf="fieldEmail.touched && !fieldEmail.valid"
          slot="end"
        >
          <ion-icon name="alert" class="err-icon"></ion-icon>
        </ion-button>
      </ion-item>

      <div
        *ngIf="!showForgotSubmitFormData && !passwordResetInProgress"
        class="reset-password ion-text-center"
      >
        <ion-button
          outline
          (click)="sendCode()"
          [disabled]="ionicStarterForgotPasswordForm.invalid"
        >
          Send Code
        </ion-button>
      </div>

      <div
        class="reset-password ion-text-center"
        *ngIf="passwordResetInProgress"
        disabled="true"
      >
        <ion-spinner color="light"></ion-spinner>
      </div>
    </ion-list>
  </form>

  <ion-note class="code-msg-padding" *ngIf="showForgotSubmitFormData"
    >We've sent a code to above email.Please enter it below to reset
    password</ion-note
  >

  <ng-container>
    <form
      [formGroup]="ionicStarterForgotPasswordSubmitForm"
      *ngIf="showForgotSubmitFormData"
    >
      <ion-list class="code-msg-padding">
        <ion-item class="ion-no-padding">
          <ion-label>Enter Code</ion-label>
          <ion-input
            type="number"
            formControlName="code"
            placeholder="required"
          ></ion-input>
          <ion-button
            fill="clear"
            color="danger"
            (click)="showCodeErrors(ionicStarterForgotPasswordForm)"
            *ngIf="fieldCode.touched && !fieldCode.valid"
            slot="end"
          >
            <ion-icon name="alert" class="err-icon"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label>New password</ion-label>
          <ion-input
            type="password"
            formControlName="newPassword"
            placeholder="required"
          ></ion-input>
          <ion-button
            fill="clear"
            color="danger"
            (click)="showPasswordErrors(ionicStarterForgotPasswordForm)"
            *ngIf="fieldNewPassword.touched && !fieldNewPassword.valid"
            slot="end"
          >
            <ion-icon name="alert" class="err-icon"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label>Re-enter new password</ion-label>
          <ion-input
            type="password"
            formControlName="confirmPassword"
            placeholder="required"
          ></ion-input>
          <ion-button
            ion-button
            fill="clear"
            color="danger"
            (click)="
                showConfirmPasswordErrors(ionicStarterForgotPasswordForm)
              "
            *ngIf="fieldConfirmPassword.touched && !fieldConfirmPassword.valid"
            slot="end"
          >
            <ion-icon name="alert" class="err-icon"></ion-icon>
          </ion-button>
        </ion-item>
        <div
          class="reset-password ion-text-center"
          (click)="resetPassword()"
          *ngIf="!passwordSubmitInProgress"
        >
          <ion-button
            outline
            [disabled]="ionicStarterForgotPasswordForm.invalid"
          >
            Reset password
          </ion-button>
        </div>

        <div
          class="reset-password ion-text-center"
          disabled="true"
          *ngIf="passwordSubmitInProgress"
        >
          <ion-spinner color="light"></ion-spinner>
        </div>
      </ion-list>
    </form>
  </ng-container>
</ion-content>
